**/.terraform/*
.terraform
.terraform.lock.hcl
*.tfplan
*.tfstate
*.tfstate.*
*.tfstate.d
*.tfstate*
*.tfstate*backup
.tfenv
tf.plan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
